[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/SUV-Lab/px4_msgs.git
	branch = v1.14/swarmrover
[submodule "src/jfi_transceiver/mavlink"]
	path = src/jfi_transceiver/mavlink
	url = https://github.com/mavlink/mavlink.git
